(((5v4)^~4)>5)


0: OR, 1: AND, 2: >, 3: <>

1.   p <> q <=> (p>q) ^ (q>p)			OK
2.   p>q <=> ~p v q						OK
3a.  p^q <=> q^p						OK
3b.  pvq <=> qvp						OK
4a.  (p ^ q) ^ r <=> p ^ (q ^ r)		OK
4b.  (p v q) v r <=> p v (q v r)		OK
5a.  p ^ (q v r) <=> (p ^ q) v (p ^ r)	OK
5b.  p v (q ^ r) <=> (p v q) ^ (p v r)	OK
6a.  p ^ V <=> p						OK
6b.  p v F <=> p						OK
7a.  p ^ F <=> F						OK
7b.  p v V <=> V						OK
8a.  p ^ ~p <=> F						OK
8b.  p v ~p <=> V						OK
9.   ~~(p) <=> p						NEG
10a. ~(p ^ q) <=> ~p v ~q				NEG
10b. ~(p v q) <=> ~p ^ ~q				NEG
11.  (p > q) <=> (~q > ~p) 				OK
12.  p^p <=> p							??
12.a pvp <=> p							??


----------------






teste 1--------------------------------------
A
B>C
A>B
----
C
teste 2-------------------------------------
A>(B>C)
~~A
B
----
C
teste 3-------------------------------------
(AvB)^(AvC)
~A
----
(B^C)
teste 4-------------------------------------
A>B
(A>B)>(B>A)
----
A<>B
teste 5-------------------------------------
A<>(S^D)
S^D
(S^D)>A
----
A
teste 6-------------------------------------
A>B
~B^C
~B
----
C^~A
teste 7-------------------------------------
~D>R
DvR
S
Av~D
S>D
A>X
----
X
teste 8------------------------------------
~Pv~T
T>X
~T
X>T
XvT
----
X